<div id="do-create">
    <button id="save" form="new" type="submit">Save</button>
</div>
<form id="new" action="/new-page/save" method="POST">
    <textarea placeholder="Continue Writing Here.." name="text" id="new-page">
    </textarea>
</form>
