
    <section id="manual-identify">
        <form method="POST" action="/users/create-session">
            <div>
                <label id="lemail" for="email">Email</label>
                <br>
                <input autocomplete="off" id="email" name="email" type="email" placeholder="Email">
            </div>
            <div>
                <label id="lpassword" for="password">Password</label><br>
                <input autocomplete="off"  id="password" name="password" type="password" placeholder="password">
            </div>
            <sec>
                <button type="submit" style="height: 100%; width: 75px; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 18px; font-weight: bold;">SingIn</button>
                <a href="/users/sign-up">Register?</a>
            </sec>
        </form>
    </section>
